* {
  margin: 0.25rem 0rem 0rem 0.5rem;
  padding: 0.25rem 0rem 0rem 0.5rem;
  box-sizing: border-box;
}
main {
  display: grid;
  gap: 1rem;
}

@media (width >= 500px) {
  main {
    grid-template-columns: minmax(30ch, auto) 1fr;
  }
}

body {
  background: black;
}

html {
  color: white;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.episodes li {
  padding: 0.75rem;
}

.episodes ol {
  list-style: none;
}

.episodes li:hover,
.episodes li.selected {
  background: rgb(54, 54, 54);
  cursor: pointer;
}

.episodes li:not(:last-child) {
  border-bottom: 1px solid rgb(87, 87, 87);
}

button {
  display: block;
  width: 100%;
  max-width: 500px;
  margin-top: 15px;
  padding: 12px 0;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
  border: 1px solid rgba(252, 247, 247, 0.3);
  background-color: rgba(252, 247, 247, 0.3);
  color: white;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 1ch;
}

.watch-button:hover {
  background-color: rgba(69, 69, 69, 0.548);
  transform: scale(1.05);
}
